{% extends "base.html" %}
{% load pagination_tags %}
{% block conteudo %}
<!--img src="{{ MEDIA_URL }}foto.jpg"/-->
        {% regroup pagina.object_list by get_status_display as artigos %}
	{% autopaginate latest 2 %}
	{% for artigo in latest %}
		<div class="artigo">
			<a href="artigo/{{ artigo.slug }}">
				<h2> {{ artigo.titulo }}	</h2>
			</a>
			<div class="conteudo">
				Publicado há {{ artigo.publicacao|timesince }}<br/>
				<!--{{ artigo.publicacao|date:"d \d\e F \d\e Y"}} -->
				{{ artigo.conteudo|truncatewords:40 }}... <a href="{{ artigo.get_absolute_url }}">Leia Mais.. >>> </a>
			</div>
		</div>
	<br/>
	{% endfor %}
	<hr/>
 <div class="paginacao">
	Paginas:
	 {% paginate %}
 </div>
{% endblock %}
