{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
	<title>{% block titulo %} {% trans "Blog do Rodrigo Martins" %}{% endblock %}</title>
	{% block meta %}
		<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		<meta name="keywords" content="Python, Django, Rodrigo Martins, Rodrigo, Martins, RubyOnRails, Rails, Ruby, Katara, blog" />
		<meta name="description" content="Este é o blog do Rodrigo Martins, um cachoeirense aprendendo Django, Ruby, Python, Rails, e mostrando o que sabe..." />
	{% endblock meta %}
	{% block feeds %}
		<link rel="alternate" type="application/rss+xml" title="Ultimos artigos do Rodrigo Martins" href="/rss/ultimos/" />
	{% endblock feeds %}
	{% block style %}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}layout_page.css"/>
	{% endblock style %}
	{% block scripts %}
	
	{% endblock scripts %}
</head>
<body>
	<div id="tudo">
		<div id="topo">
		{% block topo %}
			<div id="foto">&nbsp;</div>
			{% trans "Blog do Rodrigo Martins"%}
		{% endblock topo %}
		</div>
                {% for msg in messages %}
                    <div class="mensagem">{{ msg }}</div>
                {% endfor %}
                
		<div id="menu">
		{% block menu %}
			{% spaceless %}
				<ul>
					<li><a href="/">Pagina inicial</a></li>
					<li><a href="{% url galeria.views.albuns %}">Galeria de Imagens</a></li>
                                        <li><a href="{% url tags.views.tags %}">Tags</a></li>
                                        <li><a href="/sobre-mim/">Sobre mim</a></li>
					<li><a href="{% url views.contato %}">Contato</a></li>
 					<li><a href="{% url contas %}">Contas</a></li>
			                {% if user.is_authenticated %}
                                            <li> <a href="{% url sair %}">{% trans "Sair" %}</a></li>
				            <li>
        					<a href="{% url mudar_senha %}">{% trans "Mudar senha" %}</a>
        				    </li>
					{% else %}
          				    <li>
          					<a href="{% url entrar %}">{% trans "Entrar" %}</a>
          				    </li>
          				    <li>
          					<a href="{% url registrar %}">{% trans "Registre-se" %}</a>
          				    </li>
					{% endif %}
  				</ul>
			{% endspaceless %}
		{% endblock menu %}
		</div>
		<h1>
			{% block h1 %}
			{% endblock %}
		</h1>
		<div class="corpo">
			{% block conteudo %}
			{% endblock %}
		</div>
		{% include "rodape.html" %}
	</div>
</body>
</html>

